<!-- <h2>Reset Password!</h2>
<form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
    <label>New Password:</label>
    <input type="password" formControlName="newPassword" required />

    <label>Conform Password:</label>
    <input type="password" formControlName="confirmPassword" required />

    <button type="submit" [disabled]="resetForm.invalid">save</button>
</form> -->

<div class="container py-4">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6">
        <div class="card shadow">
          <div class="card-header text-center bg-primary text-white">
            <h3 class="mb-0">Reset Password!</h3>
          </div>
          <div class="card-body">
            <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
              <!-- <div class="control-row">
                  <div class="mb-3">
                      <label for="email" class="form-label">Email :<span class="text-danger">*</span></label>
                      <input 
                        type="email" 
                        class="form-control" 
                        id="email" 
                        formControlName="email"
                        required
                        placeholder="Enter email">
                  </div>
              </div> -->
  
              <div class="control-row">
                <div class="mb-3">
                  <label for="newPassword" class="form-label">
                    New Password <span class="text-danger">*</span></label
                  >
                  <input
                    type="password"
                    class="form-control"
                    id="newPassword"
                    formControlName="newPassword"
                    required
                    placeholder="Enter new password"
                  />
                </div>
              </div>
  
              <div class="control-row">
                <div class="mb-3">
                  <label for="confirmPassword" class="form-label"
                    >Confirm Password <span class="text-danger">*</span></label
                  >
                  <div class="input-group">
                    <input
                      type="password"
                      class="form-control"
                      id="confirmPassword"
                      formControlName="confirmPassword"
                      required
                      placeholder="Enter confirm password"
                    />
                    <!-- <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="fa fa-eye-slash"></i>
                      </span>
                    </div> -->
                  </div>
                </div>
              </div>
  
              <!-- Form Action -->
              <div
                class="d-flex justify-content-between"
                style="margin-top: 10px"
              >
                <button
                  type="button"
                  class="btn btn-secondary"
                  (click)="cancel()"
                >
                  Cancel
                </button>
                <button
                  type="submit"
                  class="btn btn-primary"
                  [disabled]="resetForm.invalid"
                >
                  <!-- <span  class="spinner-border spinner-border-sm me-1" role="status"></span> -->
                  Save Changes
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  